body {
    background-image: url(Assets/bd1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.navbar a{
    color: white;
}
.navbar img {
    width: 60px;
    border-radius: 10%;
}
.apps-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 10px;
}
.apps-container button {padding-bottom: 8px;}
.navbar .container-fluid {
    position: relative;
    display: flex;
    align-items: center;
}
.offcanvas button {
    margin: 5px;
}

.close {
    margin-top: -1% !important;
    border-radius: 50%;
    background-color: red;
    transition: 0.1s;
    border: none;
    margin-bottom: 2px;
}
.close:hover {background-color: rgb(190, 0, 0);}
.card-title {
    padding: 0;
    margin-top: -10% !important;
    margin-bottom: 0 !important;
}

.popup {
    position: absolute !important;
    display: none;
    text-align: center;
    width: 18rem;
    box-sizing: border-box;
    top: 0;
    left: 0;
    visibility: hidden;
}
.card-body {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form-control {
    margin-bottom: -20px !important;
}

.calc {
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin: 1px;
}
#calcResult {
    margin-top: 15px;
    border: 2px solid royalblue;
}
.window-header {
    cursor: move;
    user-select: none;
}

.indicator-line {
    position: absolute;
    bottom: 4px;
    left: 50%;
    transform: translate(-50%);
    height: 2px;
    background-color: rgb(71, 166, 255);
    border-radius: 2px;
    width: 0%;
    transition: width 0.3s ease;
}
.app.active-window .indicator-line {
    width: 70%;
}
.app.background-window .indicator-line {
    width: 15%;
    background-color: rgb(165, 165, 165);
}

.minimize {
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
    border: none;
    transition: 0.1s;
    margin-bottom: 2px;
    margin-right: -90px !important;
}
.minimize:hover {background-color: rgb(202, 131, 0);}

.popup iframe {
    pointer-events: auto;
}
.window-header:active ~ .card-body iframe {
    pointer-events: none;
}

.minimize2 {
    background-color: rgb(255, 166, 0);
    border-radius: 50%;
    border: none;
    transition: 0.1s;
    margin-bottom: 6px !important;
    margin-right: -420px !important;
}
.minimize2:hover {background-color: rgb(202, 131, 0);}