body {
    background-image: url(Assets/2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.navbar a{
    color: white;
}
.apps-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    gap: 10px;
}
.navbar .container-fluid {
    position: relative;
    display: flex;
    align-items: center;
}

.close {
    margin-top: -1% !important;
    border-radius: 50%;
    background-color: red;
    transition: 0.1s;
    border: none;
    margin-bottom: 2px;
}
.close:hover {background-color: rgb(190, 0, 0);}
.card-title {
    padding: 0;
    margin-top: -10% !important;
    margin-bottom: 0 !important;
}

.popup {
    position: absolute;
    display: none;
    text-align: center;
    width: 18rem;
    box-sizing: border-box;
}
.card-body {
    padding: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.form-control {
    margin-bottom: -20px !important;
}

.calc {
    padding-right: 20px !important;
    padding-left: 20px !important;
    margin: 1px;
}
#calcResult {
    margin-top: 15px;
    border: 2px solid royalblue;
}
.window-header {
    cursor: move;
    user-select: none;
}